body {
background-color: #bdc3c7;

}

#header {
    width: 100%;
    height: 50px;
    background: #222222;
}



/* Top Navigation Bar Styles */
#top-nav { height: 50px; width: 1170px; }
 
.title {
    position: absolute;
    top: 2px;
    left: 15px;
}
 
/* Top Navigation Menu */
.navi {
    position: absolute;
    top: 0;
    right: 0;
}
 
.navi li {
    display: block;
    float: left;
    height: 50px;
    padding: 0px 0;
}
 
.navi li a {
    display: block;
    height: 50px;
   line-height: 24px;
    padding: 10px 15px;
    background:none;
}

 
.nav li:first-child a { background: none; }


#login-link{  
    
    
}  
.login-form{  
    position: relative;  
    top: 50px; 
    right: 0px; 
    width: 250px;  
    padding: 10px 15px 10px 15px;  
    background: #2a2a2a;  
    font-size: 8pt;  
    font-weight: bold;  
    color: #FFF;  
    display: none;  
}  
label{  
    line-height: 1.8;  
}  

.login-form .login-field-icon {
color: #bfc9ca;
font-size: 16px;
position: absolute;
right: 13px;
top: 9px;
-webkit-transition: 0.25s;
transition: 0.25s;
}

#search-form {
    position: relative;
    float: right;
    top: 10px;
    right: 10px;
}
 
#search-form input#search-box {
    width: 240px;
    height: 30px;
    padding: 0 40px 0 10px;
    border: none;
    outline: none;
 
    background: #ffffff;

    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
    box-shadow: 1px 1px 1px rgba(0,0,0,.2);
 
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
 
#search-form input#search-submit {
    position: absolute;
    display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    background: transparent url(../img/search-icon.png) no-repeat 0 0;
}


 #navigation {
    width: 100%;
    height: 50px;
    background: #222222;


}

.location {
    position: relative;
    height: 50px;
    padding: 10px 15px;
    float: left;
}




.cart-navi {
    position: relative;
    top: 0;
    right: 15px;
    float: right;
    margin-bottom: 0px;

    
}
 
.cart-navi li {
    display: block;
    float: left;
    
    padding: 0px 0;
}
 
.cart-navi li a {
    display: block;
    height: 50px;
   
    padding: 10px 15px;
    background: url(../img/nav-border.png) no-repeat center right;
}

 
#featured-banner-wrapper {
    width: 100%;
    height: 300px;
    background: #ffffff;
}
 

#content-wrapper {
    width: 100%;
    
    background-color: #bdc3c7;
    clear: both;
    top: 0px;
}
 
#main-content-wrapper {
  background-color: #ffffff;
    position: relative;
    width: 78%;
    display: inline-block;

  padding-bottom: 50px;

}

#main-content-wrapper h5 {
  padding: 20px 0 0 20px;

}


#adminpage {
  background-color: #ffffff;
    position: relative;
    width: 100%;
    display: inline-block;

  padding-bottom: 50px;

}

.editbooks-navi {
  background-color: #ffffff;
    position: relative;
    width: 100%;
    display: inline-block;
    padding: 20px;

}

.editbooks {
  color: #798795;
  display: block;
  background-color: #ffffff;
    position: relative;
    width: 60%;
    float: left;
    padding: 10px 15px 10px 20px;
}

.editbooks input {
  margin: 5px 0 0 5px;
}

.editbooks textarea {
  margin: 5px 0 0 5px;
  font-size: 12px;
}

.editbooks-list {
  color: #798795;
  display: block;
  background-color: #ffffff;
    position: relative;
    width: 40%;
    float: left;
    padding: 10px 15px 10px 20px;
    height: 800px;
    overflow: auto;
}
.editbooks-list li {
  list-style: none;
}


.progress-container {
  background-color: #ffffff;
    position: relative;
    width: 100%;
    float: left;
    color: #798795;
  display: block;
  padding: 40px 20px 20px 20px;
  text-align: center;

}

#featured-books {
  background-color: #ffffff;
    position: relative;
    width: 100%;
    float: left;
    color: #798795;
  display: block;
    
}

#shoppingcart {
  background-color: #ffffff;
    position: relative;
    width: 100%;
    float: left;
    color: #798795;
  display: block;
    
}

#shoppingcart h5 {
  padding: 0 0 0 20px;
    
}

#bookpage {
  background-color: #ffffff;
    position: relative;
    width: 100%;
    float: left;
    color: #798795;
  display: block;
    
}

.book-page-image {
  background-color: #ffffff;
    position: relative;
    width: 30%;
    float: left;
    color: #798795;
    padding: 20px 20px 20px 20px;
  display: block;
    
}

.book-page-text {
  margin-top: 0;
  background-color: #ffffff;
    position: relative;
    width: 70%;
    float: left;
    color: #798795;
    padding: 0 20px 20px 20px;
  display: block;
   top: 0px; 
   left: 0;  
   height: auto;
    
}

.book-page-text p {
  margin-top: 0;
  font-size: 14px;
    padding: 0 40px 20px 0px;

    
}

.book-page-addcart {

  display: block;
}


.book-page-buy {

  
width: 100%;
 float: right;
  background: rgba(54, 25, 25, 1.0);
  color: #ffffff;

}

.book-page-buy a {
  text-align: right;
  font-size: 14px;
  display: block;
  padding: 25px 15px 5px 5px;
  height: 75px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.book-page-price {
  font-size: 32px;
  font-weight: bold;
  position: relative;
  text-align: right;
  top: 50%;
  width: 100%;
 float: left;
  background: rgba(54, 25, 25, .8);
  color: #ffffff;
  padding: 5px 15px 15px 5px;
}



#featured-books h7 {
  padding: 5px 0 0 15px;
  margin-bottom: -10px;
  
    position: relative;
    width: 100%;
  display: block;
    
}

.book {
  width: 22%;
  height: 290px;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #bdc3c7;
  position: relative;
  display: block;
  cursor: pointer;
  overflow: hidden;
}

.book-link-overlay {
-ms-touch-action: none;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 20;
}

.book-link-title {

  position: absolute;

  z-index: 2;

}

.book-link-title:before{

-ms-filter: "alpha(opacity=70)";
filter: alpha(opacity=6);
-moz-opacity: .3;
-khtml-opacity: .3;
opacity: .3;
-moz-box-shadow: inset 0 0 30px 0 rgba(0,0,0,0.3);
-webkit-box-shadow: inset 0 0 30px 0 rgba(0,0,0,0.3);
box-shadow: inset 0 0 30px 0 rgba(0,0,0,0.3);
content: "";
z-index: -1;
position: absolute;
top: 0;
left: 0;
width: 196px;
height: 290px;
background-size: 100% 100%;
background-image: -moz-linear-gradient(left top,#dc4225,#2d2f31);
background-image: -ms-linear-gradient(left top,#dc4225,#2d2f31);
background-image: -o-linear-gradient(left top,#dc4225,#2d2f31);
background-image: linear-gradient(to bottom right,#2d2f31,#2d2f31);
}

a:hover .book-link-title ::before{

-ms-filter: "alpha(opacity=70)";
filter: alpha(opacity=6);
-moz-opacity: .2;
-khtml-opacity: .2;
opacity: .2;
-moz-box-shadow: inset 0 0 30px 0 rgba(0,0,0,0.2);
-webkit-box-shadow: inset 0 0 30px 0 rgba(0,0,0,0.2);
box-shadow: inset 0 0 30px 0 rgba(0,0,0,0.2);
content: "";
z-index: -1;
position: absolute;
top: 0;
left: 0;
width: 196px;
height: 290px;
background-size: 100% 100%;
background-image: -moz-linear-gradient(left top,#ffffff,#ffffff);
background-image: -ms-linear-gradient(left top,#ffffff,#ffffff);
background-image: -o-linear-gradient(left top,#ffffff,#ffffff);
background-image: linear-gradient(to bottom right,#ffffff,#ffffff);
}



.book-link-title h3 {
  z-index: 120;
  display: inline-block;
  background: rgba(54, 25, 25, .5);
  color: #ffffff;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 21px;
}




.book-link-author {
  margin-top: 0px;
  margin-left: 5px;
  margin-bottom: 0px;
  font-size: 14px;
  color: #ffffff;
}

.book-link-genre {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  font-size: 14px;
  font-style: italic;
  color: #ffffff;
}


.book-link-buy {

  background: rgba(54, 25, 25, .8);
  color: #ffffff;

  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 5px 5px;
  z-index: 50;
}

.book-link-buy a {
  display: inline-block;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 11px;
}


.book-link-price {

  background: rgba(54, 25, 25, .7);
  color: #ffffff;
  width: 100%;
  text-align: right;

  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 5px 5px;
  z-index: 40;
}

.book-link-price h3 {
  display: block;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
}

.book-link-image::before {
-moz-box-shadow: inset 0 0 50px rgba(0,0,0,0.1);
-webkit-box-shadow: inset 0 0 50px rgba(0,0,0,0.1);
box-shadow: inset 0 0 50px rgba(0,0,0,0.1);
z-index: 10;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
content: "";
}

#new-books {
  color: #798795;
  display: block;
  background-color: #ffffff;
    position: relative;
    width: 60%;
    float: left;
    padding: 10px 15px 10px 20px;
}

#checkout {
  color: #798795;
  display: block;
  background-color: #ffffff;
    position: relative;
    width: 60%;
    float: left;
    height: 100%;
    padding: 10px 15px 10px 20px;
}



#new-books ul {

  background-color: #2c3e50;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-radius: 0 0 6px 6px;
}

#new-books li {
  background: #34495e;

  font-size: 14px;
  line-height: 1.214;
  margin-top: 3px;
  padding: 10px 10px 10px 45px;
  position: relative;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

#new-books li a {
  display: block;
  width: 100%;
  height: 100%;
}

#new-books li a.addcart {
  display: inline-block;
  width: 80%;
}

#new-books li.book-hover {
background-color: #2c3e50;
color: #1abc9c;
}

li.book-hover {
background-color: #2c3e50;
color: #1abc9c;
}


/*SEARCH RESULTS --------------------------------------------------------------------------------------*/

#search-big {
  background-color: #ffffff;
    position: relative;
    width: 100%;
    float: left;
    color: #798795;
    padding: 20px 20px 0 20px;
  display: block;
    
}

.search-big-checkboxes p {

  display:block;
  float:left;
  margin: 5px 10px 0 0;
}

#search-books {
  color: #798795;
  display: block;
  background-color: #ffffff;
    position: relative;
    width: 100%;
    float: left;
    padding: 10px 20px 10px 20px;
}

#search-books ul {

  background-color: #2c3e50;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-radius: 0 0 6px 6px;
}

#search-books li {
  background: #34495e;

  font-size: 14px;
  line-height: 1.214;
  margin-top: 3px;
  padding: 10px 10px 10px 45px;
  position: relative;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

#search-books li a {
  display: block;
  width: 100%;
  height: 100%;
}

#search-books li a.addcart {
  display: inline-block;
  width: 80%;
}

#search-books li.book-hover {
background-color: #2c3e50;
color: #1abc9c;
}

.todo-icon {
float: left;
font-size: 24px;
padding: 0 0 0;
}

.todo-content {
padding-top: 1px;
overflow: hidden;
}

.todo-name a {
height: 180px;
width: 300px;
}

.todo-name {
color: #ffffff;
font-size: 17px;
margin: 1px 0 3px;

}

.price {
  position: absolute;
  text-align: right;
  top: 15px;
  right: 15px;
  clear: both;
  
color: #ffffff;
font-size: 14px;
margin: 1px 0 3px;
}

.price strong {

font-size: 18px;

}

.old-price {

  color: #798795;
  font-weight: normal;

font-size: 18px;
text-decoration: line-through;
padding-right: 5px;


}

.price a {

  font-size: 11px;
  margin-top: 5px;
  display: inline-block;
  background-color: #2c3e50;
  padding: 5px;
  border: 1px solid #34495e;

}



.checkout-form {
  color: #798795;
  display: block;
  background-color: #ffffff;
    position: relative;
    width: 40%;
    float: right;
    padding: 10px 26px 10px 5px;
}

.checkout-form input {
  margin: 10px 0 10px 0;

}



.checkout-form select {
  margin: 10px 0 10px 0;
  width: 150px;
  float: right;
}


/*BEST SELLERS*/

#top-books {
  color: #798795;
  display: block;
  background-color: #ffffff;
    position: relative;
    width: 40%;
    float: left;
    padding: 10px 26px 10px 5px;
}

#top-books ul {

  background-color: #2c3e50;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-radius: 0 0 6px 6px;
}

#top-books li {
  background: #34495e;

  font-size: 14px;
  line-height: 1.2555;
  margin-top: 2px;
  padding: 10px 5px 10px 15px;
  position: relative;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

#top-books li.book-hover {
background-color: #2c3e50;
color: #1abc9c;
}
 
.price-top {
  position: absolute;
  text-align: right;
  top: 5px;
  right: 5px;
  clear: both;
  border: 1px solid #34495e;
color: #ffffff;
font-size: 14px;
margin: 0px 0 0px;
}


.price-top a {

  font-size: 11px;
color: #ffffff;
  display: inline-block;
  background-color: #2c3e50;
  padding: 5px;
  border: 1px solid #3449

}


/*SIDEBAR------------------------------*/

#side-bar {
    position: relative;
    width: 22%;
    height: 100%;
    padding-bottom: 20px;
    display: inline-block;
    float: right;
    background: #222222;
}



.items {
  list-style-type: none;

  background-color: #2c3e50;
  margin: 0;
  padding: 0;
  
  color: #ffffff;
  padding: 5px 0px 0px 0px;
}
.items h3 {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  font-size: 18px;
}

.subitems {

  margin: 0;
  font-weight: bold;
  line-height: 1.64;
  padding: 10px 25px 20px 0px;
  list-style-type: none;
  background-color: #222222;
}

.subitems li {
  padding: 0px 0px 0px 40px;
}

.subitems li a {
  display: block;
  width: 100%;
  color: #ffffff;
  font-weight: normal;
}

.items li.subitems-hover {

background: url(../images/todo/todo.png) 5% center no-repeat;
}
 

/*FOOTER------------------------------*/

#footer {
    width: 100%;
    clear: both;
    margin-top: 20px;
    font-size: 9px;
    background: #bdc3c7;

}

#footer p {
  font-size: 11px;
}
 
/* Center Pages */
.center-wrapper {
    position: relative;
    width: 960px;
    margin: 0 auto;
}